/* Timer.css */

body, html {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Set the background color */
  color: white;
  font-family: Arial, sans-serif;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: #121212;
}

.progress-bar-container {
  width: 450px;
  height: 450px;
  margin-bottom: 20px; /* Adjusted for visual balance */
}

.buttons-container {
  display: flex;
  justify-content: center; /* Changed to center for consistent spacing */
  align-items: center;
  width: 100%; /* Changed to full width for flexibility */
  padding: 0 20px; /* Padding on the sides */
}

.play-svg-button, .pause-svg-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 10px; /* Spacing between buttons */
}

.im-done-button {
  background-color: #21C55E;
  border: none;
  font-weight: bold;
  height: 70px; /* Fixed height for consistency */
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 10px; /* Spacing between buttons */
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.horizontal-bar {
  height: 4px;
  background-color: #ffffff;
  width: 20%;
  margin: 20px auto;
}

.motivational-text {
  color: #fff;
  font-size: 23px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 450px;
  width: 100%;
  font-style: italic; /* Make text italic */
}

.completed-blocks-container {
  background-color: #2C3E50;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  font-size: 1rem;
}

.home-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #2C3E50;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #26c25f;
}

.delete-task-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  min-width: 120px;
}

.delete-task-button:hover {
  background-color: red;
}
