body {
  margin: 0;
  background-color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
  gap: 10px; /* Adjust the space between grid items */
  width: 100%; /* Set the width to fit its container */
  max-width: 600px; /* Maximum width can be adjusted as per your layout */
  margin: 0 auto; /* Center the grid */
  padding: 20px; /* Padding around the grid */
  background-color: #1a1a1a; /* Dark background as shown in the image */
  border-radius: 8px; /* Optional: adds rounded corners to the grid container */
  min-width: 600px;
}

.grid-item {
  background-color: #333; /* Slightly lighter color for the grid items */
  color: #fff; /* White text color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px; /* Optional: rounded corners for grid items */
  font-size: 1.5em; /* Adjust the font size as needed */
}

/* Ensures that the grid items are squares */
.grid-item::before {
  content: '';
  float: left;
  padding-top: 100%; /* The padding-top percentage equals the width of the container, this ensures a square */
}

.grid-item::after {
  content: '';
  display: block;
  clear: both;
}

/* Add responsive behavior */
@media (max-width: 600px) {
  .grid-container {
    width: 90%; /* Adjust width for smaller screens */
    max-width: none;
  }
}

.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0; /*  check there's no margin collapsing */
  padding: 0 30px; /* Ensure there's no padding collapsing and added padding to left and right */
  margin-bottom: 20px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.playbtn {
  background-color: #007bff; /* Blue shade */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  outline: none;
}

.puzzle-mode-title{
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.puzzle-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
}

.puzzle-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 80px; /* Width of the entire slider */
  height: 40px; /* Height of the entire slider */
  background-color: #ccc;
  border-radius: 40px;
  transition: background-color .4s;
  box-sizing: border-box;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px; /* Height of the toggle button */
  width: 32px; /* Width of the toggle button */
  left: 4px; /* Starting position from the left */
  bottom: 4px; /* Starting position from the bottom */
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}


input:checked + .slider:before {
  transform: translateX(40px);
}

input:checked + .slider {
  background-color: #1d4ed8 	;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); */
/* } */

/* Rounded sliders
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */


/* for the add task form */

/* Styles for AddTask when it's supposed to show */
.add-task-visible {
  width: 300px; /* Width of the form when visible */
  position: absolute;
  right: 20px;
  top: 0;
  /* transition: transform 0.3s ease-in-out;
  transform: translateX(0); /* Start from its own position */
}

/* Styles for AddTask when it's supposed to be hidden */
.add-task-hidden {
  width: 300px; /* Width of the form when hidden */
  /* transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Hide off-screen to the right */
}



/* for AddTask Button */

.add-task-form{
  position: absolute;
  margin-top: 10px; /* Adjust the value as needed */
  padding: 20px; /* Add some padding around the form */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  align-self: flex-start;
  width: 300px
}

  /* Styles for the form */
form {
  background: #333; /* Dark background for the form */
  padding: 30px 20px;
  margin-right: 20px;

  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Styles for input fields */
input[type="text"],
input[type="number"] {
  /* width: calc(100% - 20px); Full width minus padding */
  width: 100%; 
  padding: 10px;
  font-size: 20px;
  margin-bottom: 30px; /* Space between input fields and buttons */
  border: 1px solid #bdc3c7; /* Light gray border */
  border-radius: 4px;
  background: #ecf0f1; /* Light background for input fields */
  color: #333; /* Dark text color for contrast */
}

/* Reusable button styles */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Spacing between buttons */
}

/* Styles specific to the cancel button */
button[type="button"] {
  background-color: #333; /* Red color */
  border: 1px solid #ffffff; /* Corrected border property */
  color: white;
}

/* Styles specific to the submit/add task button */
button[type="submit"] {
  background-color: #26c25f ; /* Green color */
  color: white;
}

/* Additional styles to remove default form spacing */
/* You may need to adjust depending on your exact HTML structure */
form * {
  box-sizing: border-box;
}

/* Handle focus styles for input fields */
input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #3498db; /* Highlight color when input is focused */
}

/* Optional: Handle hover styles for buttons */
button:hover {
  filter: brightness(90%);
}



/* css for generic button */
.genericbtn{
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.green-button:hover {
  background-color: #218838; /* A darker green for hover state */
}

.green-button:active {
  background-color: #1e7e34; /* An even darker green for active state */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.green-button:focus {
  outline: none; /* Removes the outline on focus for browsers that show it */
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); /* A light green glow */
}

/* image selector*/

.puzzle-container {
  display: flex;
  flex-direction: row;
  min-width: 500px;
  max-width: 250px;
  margin: 0 auto;
  justify-content: center; /* Center the puzzle selectors horizontally */
  align-items: center; /* Align the puzzle selectors vertically */
  padding: 20px; /* Add some padding around the entire container */
  gap: 20px; /* Add space between each puzzle selector */
}

.puzzle {
  flex: 1; /* Each puzzle selector will take up equal space */
  padding: 0px 0px; /* Padding inside each puzzle selector for spacing */
  text-align: center; /* Center the text inside each puzzle selector */
  background-color: #333; /* Background color of the puzzle selectors */
  color: #fff; /* Text color of the puzzle selectors */
  border-radius: 5px; /* Rounded corners for the puzzle selectors */
  cursor: pointer; /* Change mouse cursor to pointer when hovering over the selectors */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.puzzle:hover {
  background-color: #555; /* Slightly lighter background color on hover */
}

.puzzle.selected {
  border: 3px solid #FFFFFF; /*  */
}